@tailwind base;
@tailwind components;
@tailwind utilities;

.splash-shadow {
  box-shadow: 0px 4px 12px 0px #0000001A;
}

.slide-spin {
  animation: slide-spin 1s infinite alternate forwards;
}

@keyframes slide-spin {
  100% {
    transform: translateX(300%);
  }
}